@page "/{user}"
@model App.Areas.Posts.Pages.IndexModel
@{
}
Post - Pages - Index

@{
    if (Model.Posts == null)
    {
        <p>ポストはありません。</p>
    }
    else
    {
        for (var i = 0; i < Model.Posts.Count; i++)
        {
            var post = Model.Posts[i];
            <h4><a href="/@Model.UserName/@post.Id">@post.Title</a></h4>

            <div>
                @(post.Description)
            </div>

        }
    }
}