@page "/{userName}/entries"
@model App.Areas.User.Pages.EntriesModel
@{
}
<p>entries</p>

@{
    if (Model.Posts == null)
    {
        <p>ポストはありません。</p>
    }
    else
    {
        for (var i = 0; i < Model.Posts.Count; i++)
        {
            var post = Model.Posts[i];
            <text>Title: @post.Title</text>
            <text>Title: @post.Description</text>
        }
    }
}