@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <style>
        .post a {
            text-decoration: none;
        }
    </style>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-6">
            <h2 style="margin-left: 15px;">Posts</h2>
            <div class="col-md-12">
                @for (int i = 0; i < Model.Posts.Count; i++)
                {
                    var item = Model.Posts[i];
                    <div class="card post">
                        <a href="./@Model.Owners[i]/@item.Id">
                            <div class="card-body">
                                <div class="col-md-9">
                                    <h5 class="card-title">
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </h5>
                                    <div>
                                        <svg style="margin-bottom: 0.15rem; margin-right: 0.15rem;" width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z" />
                                            <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                                        </svg>
                                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                                    </div>
                                    <div>
                                        <svg style="margin-bottom: 0.15rem; margin-right: 0.15rem;" width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                                        </svg>
                                            @Model.Owners[i]
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <h2>Tags</h2>
            @{
                if (Model.Tags != null && Model.Tags.Count > 0)
                {
                    for (int i = 0; i < Model.Tags.Count; i++)
                    {
                        <a href="/tag/@Model.Tags[i].TagName">
                            <div>@Model.Tags[i].TagName</div>
                        </a>
                    }
                }
            }
        </div>
    </div>

    <hr>

</div>