@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <style>
        .post a {
            text-decoration: none;
        }
        .post a .card-title:hover {
             text-decoration: underline;
        }
    </style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-6">
            <h2 style="margin-left: 15px;">Posts</h2>
            <div class="col-md-12">
                @for (int i = 0; i < Model.Posts.Count; i++)
                {
                    var item = Model.Posts[i];
                <div class="card post">
                    <a href="./@Model.Owners[i]/@item.Id">
                        <div class="card-body">
                            <div class="col-md-9">
                                <h5 class="card-title">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </h5>

                                <text>@Html.DisplayFor(modelItem => item.PublishedDate)</text>
                            </div>
                        </div>
                    </a>
                    </div>
                }
                @foreach (var item in Model.Posts)
                {

                }
            </div>


        </div>
        <div class="col-md-4 col-sm-6">
            <h2>Tags</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
    </div>

    <hr>

</div>