@page "{param1}/{param2}/{param3}"
@model App.Pages.UsersModel
@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>


<div>Param1 : @Model.Param1Str</div>
<div>Param2 : @Model.Param2Str</div>
<div>Param3 : @Model.Param3Str</div>