/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    /*color: #0366d6;*/
    color: rgb(38, 38, 38);
    text-decoration: none !important;
}

a:hover {
    color: #2196f3;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border {
    border: 1px solid rgba(0,0,0,.175);
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    background-color: rgb(249,249,249);
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: rgb(249,249,249);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #fff;
}
/* Custom form styles
-------------------------------------------------- */
.form-control, .btn {
    border-radius: unset;
}

.list-group-item:first-child {
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}

.list-group-item:last-child {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: unset;
}

.card {
    border-radius: unset;
    margin-bottom: 1rem;
}