@page "/tag/{tag}"
@model App.Pages.Search.TagModel
@{
    ViewData["Title"] = "Tag";
}

<h1>Tag: @Model.Tag</h1>

@{
    if (Model.Posts != null)
    {
        for(int i = 0; i < Model.Posts.Count; i++)
        {
            var post = Model.Posts[i];
            <a href="/@Model.PostOwners[i]/@post.Id">
                <div class="card">
                    <div class="card-body" style="display: flex;">
                        <div class="col-md-12">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => post.Title)</h5>
                            <text>@Html.DisplayFor(modelItem => post.UpdatedDate)</text>
                        </div>
                    </div>
                </div>
            </a>
        }
    }
}
