@page
@model App.Areas.Dashboard.Pages.IndexModel
@{
    Layout = "_Layout.cshtml";
    ViewData["Title"] = "Dashboard Top";
}

<div class="container">
    <main role="main" class="pb-1">
        <h1>Dashboard Index</h1>
        <div>
            <hr>
            <h4>Profile</h4>
            <div class="row">
                <div class="col-md-6">
                    
                </div>
            </div>
        </div>


    </main>
</div>