@page "/Dashboard/Posts"
@model App.Areas.Dashboard.Pages.PostsModel
@{
    Layout = "_Layout.cshtml";
    var title = this.Path.Split("/").Last().Replace(".cshtml", "");
    ViewData["Title"] = title;
    ViewData["ActivePage"] = title.ToLower();
}
Dashboard post list is here

@{
    if (Model.Posts == null)
    {
        <p>ポストはありません。</p>
    }
    else
    {
        for (var i = 0; i < Model.Posts.Count; i++)
        {
            var post = Model.Posts[i];
            <h4><a href="">@post.Title</a></h4>

            <div>
                @(post.Description.Substring(0, 10) + "...")
            </div>

        }
    }
}