@page "/{userName}"
@model App.Pages.User.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>@Model.UserName</h1>

@foreach (var item in Model.Posts)
{
    <a href="/@Model.UserName/@item.Id">
        <div class="card">
            <div class="card-body" style="display: flex;">
                    <div class="col-md-12">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <text>@Html.DisplayFor(modelItem => item.UpdatedDate)</text>
                    </div>
            </div>
        </div>
    </a>
}