@page "/{userName}/{id}"
@model App.Pages.Posts.DetailsModel
@{
    ViewData["Title"] = "Details";
}

@{
    if (Model.Post == null)
    {
        <div>投稿はありません。</div>
    }
    else
    {
        <h1>
            @Model.Post.Title
        </h1>
        <hr />
        <div>
            @Model.Post.Description
        </div>
        <div>
            <text>投稿日: </text>@Model.Post.PublishedDate
        </div>
    }
}
